

 <div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
            <div class="d-flex ml-auto">
                <button type="button" class="btn btn-outline-dark ml-auto" 
                data-bs-toggle="tooltip" data-bs-placement="top" title="On To Top"
                   style="margin-left: 95%;"
                    (click)="toTop()">
                    <i class="fa fa-arrow-up"></i>
                </button>
            </div>
            <!-- <button class="btn btn-secondary d-flex" > </button> -->
           
        </div>
     </div>
    
 </div>

        <nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
            <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarColor02">
                            <div class="nav-item" style="margin-left: 47%;">
                                <span  style="color: white;">Contact US</span>
                            </div>
                           
                        </div>
                        
                    </div>
        </nav>
  
 