
<div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
                <h2 class="section-header">Products</h2>
                <div class="shop-items" >
                  <div class="card shop-item" *ngFor="let product of currentProducts$ | async; let i = index" >
                    <div class="card-header bg-primary text-white" >Product {{i+1}}</div>
                    <div class="card-body">
                      <h4 class="card-title">{{product.title}}</h4>
                      <img class="shop-item-image"  [src]="product.img"/>
                      <div class="row justify-content-center" style="margin-top: 5px;">
                        <div class="col-sm-5" style="margin-top: 5px;"><h6>Price:</h6></div>
                        <div class="col-sm-4">${{product.price}}</div>
                      </div>
                     
                      <!-- <div class="shop-item-details"> -->
                        <div class="row align-items-center" style="text-align: center;padding-left: 20px;">
                          <div class="col-sm-2"  style=" margin: 0; padding: 0; "></div> 
                          <div class="col-sm-3" 
                          style=" margin: 0; padding-top: 0;padding-bottom: 8px; padding-left: 5px; padding-right: 5px; "> 
                            <input type="number" id="quantity" class="form-control" [(ngModel)]="quantity" 
                            style="width: 80%; padding: 0; margin: 0;">
                          </div>
                          <div class="col-sm-2" 
                          style="margin: 0; padding-bottom: 20px; padding-top: 0; padding-left: 0; padding-right: 0; width: 50px;">
                            <span class="badge bg-primary mt-4">Quantity</span> 
                          </div>
                          
                          <!-- <label for="quantity" class="form-label mt-4">Quantity</label> -->
                         
                        </div>
                        <!-- <button type="button" class="btn btn-primary btn-sm" 
                        data-bs-target="#modalProducts" data-bs-toggle="modal"
                        (click)="modalSelect(1, product)">Quantity</button> -->
                      <!-- </div> -->
                      <div class="shop-item-details">
                        <div class="row">
                          <button type="button" class="btn btn-primary my-bt"
                          data-bs-target="#modalProducts" data-bs-toggle="modal"
                        (click)="modalSelect(2, product)"
                          >Extra</button>
                        </div>
                      </div>


                      
                      <div class="shop-item-details" style="margin-top: 7px;">
                        <button type="button" class="btn btn-primary btn-sm" 
                         (click)="addProductsCart(product)">ADD TO CART</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         <div class="row">
          <div class="col-md-12">
                <h2 class="section-header">CART</h2>

                <table class="table table-hover">
                  <thead>
                    <tr >
                      <th scope="col">TITLE</th>
                      <th scope="col">PRICE</th>
                      <th scope="col">QUANTITY</th>
                      <th scope="col">Size</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let products of productsCart; let i = index">
                      <th scope="row">{{products.title}}</th>
                      <td>{{products.price}}</td>
                      <td>{{products.totalPurchase}}</td>
                      <td>{{products.size}}</td>
                      <td><button type="button" class="btn btn-danger btn-sm" 
                        style="margin-left: 20px;" (click)="deleteProduct(products)"
                        >delete</button></td>
                    </tr>
                  </tbody>
                </table>
                <div class="cart-total">
                  <strong class="cart-total-title">Total</strong>
                  <span class="cart-total-price"> {{totalPurchase}}</span>
                </div> 
                <button class="btn btn-primary btn-purchase" type="button">
                  PURCHASE
                </button>
          </div>
      </div>
    </div>



    <div class="modal" id="modalProducts" >
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Choose the {{modalTitle}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <ng-container *ngIf="modalOption == 1">
                <fieldset>
                  <div class="form-group row">
                    <div class="col-md-4" style="margin-left: 30%;">
                      <input type="number" class="form-control" [(ngModel)]="quantity" 
                      style="padding-left: 15px;">
                    </div>
                  </div>
                </fieldset>
            </ng-container>
            <ng-container *ngIf="modalOption == 2">
              <fieldset class="form-group" style="margin-left: 10px;">
                <div class="form-check">
                  <label class="form-check-label" style="margin-left: 10px;">
                    <input type="radio" class="form-check-input" 
                    name="optionsRadios" id="optionsRadios1"  [(ngModel)]="size" checked=""  value="1">
                    Small
                  </label>
                </div>
                <div class="form-check" >
                  <label class="form-check-label" style="margin-left: 10px;">
                    <input type="radio" class="form-check-input" name="optionsRadios" 
                    [(ngModel)]="size" id="optionsRadios2" value="2">
                    Medium
                  </label>
                </div>
                <div class="form-check ">
                  <label class="form-check-label" style="margin-left: 10px;">
                    <input type="radio" class="form-check-input" name="optionsRadios" 
                    [(ngModel)]="size" id="optionsRadios3" value="3">
                    Large
                  </label>
                </div>
              </fieldset>
            </ng-container>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" (click)=" modalWorkOption()">Select</button>
          </div>
        </div>
      </div>
    </div>

   